{% extends "base.html" %}

{% block content %}
<h2>Hits Table</h2>

<div style="margin-bottom: 1em; display: flex; align-items: center; gap: 1em;">
    <input type="text" id="nameSearch" placeholder="Search by name" style="padding: 5px;">
  
    <select id="teamSelect" style="padding: 5px;">
      <option value="">All Teams</option>
    </select>
  
    <label for="probabilitySlider" style="margin-right: 0.5em; white-space: nowrap;">Min Probability:</label>
    <input type="range" id="probabilitySlider" min="0" max="100" value="0" step="1" style="vertical-align: middle;">
    <span id="probabilityValue" style="min-width: 30px; display: inline-block;">0%</span>

    <label>
        Show entries:
        <select id="entriesSelect" style="padding: 5px;">
          <option value="10">10</option>
          <option value="20" selected>20</option>
          <option value="50">50</option>
          <option value="-1">All</option>
        </select>
      </label>
  </div>
  
  
<table id="hitsTable" class="display" style="width:100%">
  <thead>
    <tr>
    {% for col in headers %}
        <th>{{ col }}</th>
    {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in rows %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

<link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
  var table = $('#hitsTable').DataTable({
    pageLength: 20,
    order: [[3, 'desc']],
    lengthChange: false
  });

  var $teamSelect = $('#teamSelect');
  var $probSlider = $('#probabilitySlider');
  var $probValue = $('#probabilityValue');


  function populateTeamDropdown() {
    var teams = new Set();
    table.column(1).data().each(function(team) {
      teams.add(team);
    });

    $teamSelect.find('option:not(:first)').remove();

    Array.from(teams).sort().forEach(function(team) {
      $teamSelect.append('<option value="' + team + '">' + team + '</option>');
    });
  }

  function updateProbabilitySliderText() {
    var currentVal = parseFloat($probSlider.val());
    $probSlider.val(currentVal);
    $probValue.text(currentVal.toFixed(0) + '%');
  }

  function updateTeamDropdown() {
    var teams = new Set();

    table.rows({ filter: 'applied' }).data().each(function(row) {
      teams.add(row[1]);
    });

    if (teams.size == 0){
        return
    }
    
    
    var currentVal = $teamSelect.val();

    $teamSelect.find('option:not(:first)').remove();

    Array.from(teams).sort().forEach(function(team) {
      $teamSelect.append('<option value="' + team + '">' + team + '</option>');
    });

    if (teams.has(currentVal)) {
      $teamSelect.val(currentVal);
    } else {
      $teamSelect.val('');
    }
  }

  $.fn.dataTable.ext.search.push(function(settings, data, dataIndex) {
    var nameFilter = $('#nameSearch').val().toLowerCase();
    var teamFilter = $teamSelect.val();
    var minProb = parseFloat($probSlider.val()) || 0;

    var name = data[0].toLowerCase();
    var team = data[1];
    var probability = parseFloat(data[3]) || 0;

    if (nameFilter && !name.includes(nameFilter)) {
      return false;
    }
    if (teamFilter && teamFilter !== "" && team !== teamFilter) {
      return false;
    }
    if (probability < minProb) {
      return false;
    }
    return true;
  });

  populateTeamDropdown();
  updateProbabilitySliderText();

  $('#entriesSelect').on('change', function() {
  var val = $(this).val();
  if (val === '-1') {
    table.page.len(-1).draw(); // Show all entries
  } else {
    table.page.len(parseInt(val)).draw();
  }
});

  $('#nameSearch, #teamSelect, #probabilitySlider').on('input change', function() {
    table.draw();
  });

  table.on('draw', function() {
    updateTeamDropdown();
    updateProbabilitySliderText();
  });
});
</script>

{% endblock %}